
###########################
##### INSTANCE CONFIG #####
###########################

# Config pertaining to instance federation settings, pages to hide/expose, etc.
{% if gotosocial_config.instance.expose.peers is defined %}
# Bool. Allow unauthenticated users to make queries to /api/v1/instance/peers?filter=open in order
# to see a list of instances that this instance 'peers' with. Even if set to 'false', then authenticated
# users (members of the instance) will still be able to query the endpoint.
# Options: [true, false]
# Default: false
instance-expose-peers: {{ gotosocial_config.instance.expose.peers | bool | ternary('true', 'false') }}
{% endif %}

{% if gotosocial_config.instance.expose.suspended is defined %}
# Bool. Allow unauthenticated users to make queries to /api/v1/instance/peers?filter=suspended in order
# to see a list of instances that this instance blocks/suspends. This will also allow unauthenticated
# users to see the list through the web UI. Even if set to 'false', then authenticated users (members
# of the instance) will still be able to query the endpoint.
# Options: [true, false]
# Default: false
instance-expose-suspended: {{ gotosocial_config.instance.expose.suspended | bool | ternary('true', 'false') }}
{% endif %}

{% if gotosocial_config.instance.expose.public_timeline is defined %}
# Bool. Allow unauthenticated users to make queries to /api/v1/timelines/public in order
# to see a list of public posts on this server. Even if set to 'false', then authenticated
# users (members of the instance) will still be able to query the endpoint.
# Options: [true, false]
# Default: false
instance-expose-public-timeline: {{ gotosocial_config.instance.expose.public_timeline | bool | ternary('true', 'false') }}
{% endif %}

{% if gotosocial_config.instance.deliver_to_shared_inboxes is defined %}
# Bool. This flag tweaks whether GoToSocial will deliver ActivityPub messages
# to the shared inbox of a recipient, if one is available, instead of delivering
# each message to each actor who should receive a message individually.
#
# Shared inbox delivery can significantly reduce network load when delivering
# to multiple recipients share an inbox (eg., on large Mastodon instances).
#
# See: https://www.w3.org/TR/activitypub/#shared-inbox-delivery
#
# Options: [true, false]
# Default: true
instance-deliver-to-shared-inboxes: {{ gotosocial_config.instance.deliver_to_shared_inboxes | bool | ternary('true', 'false') }}
{% endif %}
